@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.login{
    width: 280px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black
}
.login h1{
    float: left;
    font-size : 40px;
    border-bottom: 6px solid #808080;
    margin-bottom: 50px;
    padding: 13px 0
}
.testbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #808080;
}
.testbox i{
    width: 26px;
    float: left;
    text-align: center;
}
.testbox input{
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.btn{
    background-color: #808080;
    border:none;
    color: white;
    padding: 8px 30px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    background-color: #3e8e41;
}
