<!DOCTYPE html>
<html>
    <head>
        <title>Forget Password Page</title>
    </head>
    <body class="body">
        <div class="forget">
            <h2>ForgetPassword</h2>

            <div class="testbox">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <input type="text" placeholder="example@gmail.com" ng-model = "emailid">
            </div>

            <button type ="button" ng-click="forget()" class = "btn">ForgetPassword</button><br><br/>
           <a ui-sref="reset">Reset Password</a>
        </div> 
    </body>
</html>